PORT=3000

DB_HOST=mysql.db4.net2.com.br
DB_PORT=3306
DB_USER=starosajurid
DB_PASSWORD=preencha_sua_senha_do_banco
DB_NAME=starosajurid

ADMIN_USERNAME=admin
ADMIN_PASSWORD=defina_uma_senha_forte
ADMIN_SESSION_HOURS=3
